@charset "UTF-8";

.rateStar {
  color: #fc0;
  text-shadow: #fc0 0 0 20px;
}

      .container {
        border: 2px solid #ccc;
        background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/127/955/small/abstract-white-and-grey-background-with-dynamic-waves-shape-free-vector.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0;
        width: 880px;
      }

      .container::after {
        content: "";
        clear: both;
        display: table;
      }

      .container img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }

      .container span {
        font-size: 20px;
        margin-right: 15px;
      }

      @media (max-width: 300px) {
        .container {
          text-align: center;
        }
        .container img {
          margin: auto;
          float: none;
          display: block;
        }
      }