@charset "UTF-8";

.sendSendBtn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 5px 15px;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#b3b3b3));
	background: -moz-linear-gradient(top, #ffffff, #b3b3b3);
	background: linear-gradient(to bottom, #ffffff, #b3b3b3);
	-webkit-box-shadow: #ffffff 0px 0px 40px 0px;
	-moz-box-shadow: #ffffff 0px 0px 40px 0px;
	box-shadow: #ffffff 0px 0px 40px 0px;
	text-shadow: #ffffff 1px 1px 1px;
	font: normal normal bold 20px arial;
	color: #111111;
	text-decoration: none;
}

.sendSendBtn:hover, .sendSendBtn:focus {
	border: 1px solid #ffffff;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#d7d7d7));
	background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
	background: linear-gradient(to bottom, #ffffff, #d7d7d7);
	color: #111111;
	text-decoration: none;
}

.sendSendBtn:active {
	background: #b3b3b3;
	background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3),
		to(#b3b3b3));
	background: -moz-linear-gradient(top, #b3b3b3, #b3b3b3);
	background: linear-gradient(to bottom, #b3b3b3, #b3b3b3);
}